<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />

        <title>Streamfarer</title>
        <meta name="description" content="Live stream traveling bot and tiny art experiment." />
        <meta name="keywords" content="bot, live stream, journey, art, Twitch" />
    </head>

    <body>
        {% if journey %}
            <h1>{{ journey.title }}</h1>
            <p>
                {% if journey.end_time %}
                    Streamfarer was on a journey through {{ service.name }} for
                    {{ format_duration(journey.duration) }}, from
                    {{ format_datetime(journey.start_time) }} until
                    {{ format_datetime(journey.end_time) }}.
                {% else %}
                    Streamfarer has been on a journey through {{ service.name }} for
                    {{ format_duration(journey.duration) }} now, since
                    {{ format_datetime(journey.start_time) }}.
                {% end %}
            </p>
            <ul>
                {% for stay in stays %}
                    <li>
                        <h2>
                            <a href="{{ stay.channel.url }}" target="_blank">
                                <img src="{{ stay.channel.image_url }}" alt="" height="24" />
                                {{ stay.channel.name }}
                            </a>
                        </h2>
                        <p>
                            {% if stay.end_time %}
                                From {{ format_datetime(stay.start_time) }} until
                                {{ format_datetime(stay.end_time) }} for
                                {{ format_duration(stay.duration) }}
                            {% else %}
                                Since {{ format_datetime(stay.start_time) }} for
                                {{ format_duration(stay.duration) }}
                            {% end %}
                        </p>
                        <p>{{ stay.category }}</p>
                    </li>
                {% end %}
            </ul>
        {% else %}
            <p>In all beginnings dwells a magic force ✨</p>
        {% end %}

        <hr />
        <footer>
            <p>Streamfarer (Beta)<p>
            <p>Live stream traveling bot and tiny art experiment. ⛵</p>
            <p>
                Made live on
                <a href="https://www.twitch.tv/noyainrain" target="_blank">twitch.tv/noyainrain</a>
                · Powered by
                <a href="https://github.com/noyainrain/streamfarer" target="_blank">
                    Streamfarer {{ version }}
                </a>
                · <a href="https://discord.gg/pTn3TUUNVw" target="_blank">Community</a>
            </p>
        </footer>
    </body>
</html>
